%h1 Tweak this:

%span stealth mode
= check_box_tag('work-mode', value = '1', checked = false, :onclick => "$('#outlines-form').toggleClass('outlines-form outlines-form-discreet')")

#outlines-form.outlines-form
  = render 'outlines_form'


= link_to 'Back', outlines_path