.page-container#outlines-edit-page
  %h1 Tweak this:
  / =# check_box_tag('work-mode', value = '1', checked = false, :onclick => "$('#outlines-form').toggleClass('outlines-form outlines-form-discreet')")

#outlines-form.outlines-form
  = render 'outlines_form'
:javascript

  $(document).ready(function(){
    $('#stealth-button').click(function(){
        $('#outlines-form').toggleClass("outlines-form outlines-form-discreet");
        $('h1').hide();
        $('#title').hide();
        $('.form-label').hide();
        $('#title-label').hide();
        $('#title-input').hide();
        $('#stealth-button').remove();
        $('.form-back-button').remove();
        $('.form-button-div').remove();
        $('#logo').hide();
        $('.sign-out').hide();
    });
  });


