.page-container
  -if current_user
    %h1#title create a new #{current_user.name} log

  / %span stealth mode
  / =# check_box_tag('work-mode', value = '1', checked = false, :onclick => "$('#outlines-form').toggleClass('outlines-form outlines-form-discreet')")

  #outlines-form.outlines-form 
    = render 'outlines_form'

  :javascript

  $(document).ready(function(){
    $('#stealth-button').click(function(){
        $('#outlines-form').toggleClass("outlines-form outlines-form-discreet");
        $('#title').hide();
        $('.form-label').hide();
    });
  });