$lightGray: #f1f1f1;
$mediumGray: #C3C3C7;
$defaultFont: "AtlasTypewriterRegular",
              "Andale Mono",
              "Consolas",
              "Lucida Console",
              "Menlo",
              "Luxi Mono";
$orange: #fbe9e7;
$indigo: #e8eaf6;
$amber: #fff8e1;
$lavender: #f3e5f5;
$rose: #fce4ec;
$cinnamon: #efebe9;
$yellow: #fffde7;
$leaf: #f1f8e9;
$ocean: #e1f5fe;

$orangeDark: #ffccbc;
$indigoDark: #c5cae9;
$amberDark: #ffecb3;
$lavenderDark: #e1bee7;
$roseDark: #f8bbd0;
$cinnamonDark: #d7ccc8;
$yellowDark: #fff9c4;
$leafDark: #dcedc8;
$oceanDark: #b3e5fc;

  #title-input.orange {
    &:focus {
      background-color: $orange;
    }
  }

  #log.orange {
    &:focus {
      background-color: $orange;
    }
  }

  #title-input.indigo {
    &:focus {
      background-color: $indigo;
    }
  }

  #log.indigo {
    &:focus {
      background-color: $indigo;
    }
  }

  #title-input.amber {
    &:focus {
      background-color: $amber;
    }
  }

  #log.amber {
    &:focus {
      background-color: $amber;
    }
  }

  #title-input.lavender {
    &:focus {
      background-color: $lavender;
    }
  }

  #log.lavender {
    &:focus {
      background-color: $lavender;
    }
  }

  #title-input.rose {
    &:focus {
      background-color: $rose;
    }
  }

  #log.rose {
    &:focus {
      background-color: $rose;
    }
  }

  #title-input.cinnamon {
    &:focus {
      background-color: $cinnamon;
    }
  }

  #log.cinnamon {
    &:focus {
      background-color: $cinnamon;
    }
  }

  #title-input.yellow {
    &:focus {
      background-color: $yellow;
    }
  }

  #log.yellow {
    &:focus {
      background-color: $yellow;
    }
  }

  #title-input.leaf {
    &:focus {
      background-color: $leaf;
    }
  }

  #log.leaf {
    &:focus {
      background-color: $leaf;
    }
  }

#title-input.ocean {
  &:focus {
    background-color: $ocean;
  }
}

#log.ocean {
  &:focus {
    background-color: $ocean;
  }
}


[value='orange'] {
  background-color: $orange;
}

[value='indigo'] {
  background-color: $indigo;
}

[value='amber'] {
  background-color: $amber;
}

[value='lavender'] {
  background-color: $lavender;
}

[value='rose'] {
  background-color: $rose;
}

[value='cinnamon'] {
  background-color: $cinnamon;
}

[value='yellow'] {
  background-color: $yellow;
}

[value='leaf'] {
  background-color: $leaf;
}

[value='ocean'] {
  background-color: $ocean;
}

.colors-container {
  height: 270px;
  width: 270px;
  margin-left: 50px;
  .box {
    height: 60px;
    width: 60px;
    display: inline-block;
    float: left;
    margin: 5px;
  }
}

textarea {
  height: 300px;
  width: 850px;
  padding: 15px;
  font-size: 1em;
  line-height: 30px;
  border: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
  background-color: white;
}

th {
  padding-bottom: 15px;
}

body {
  padding-top: 5px;
}

.form-input {
  margin-bottom: 0;
}

input {
  padding: 3px;
}

// #work-mode-div {
//   height: 100px;
//   width: 100px;
//   background: red;
// }

.outlines-form {
  visibility: default;
}

.outlines-form-discreet {
  textarea {
    padding: 0px;
    height: 230px;
    width: 250px;
    font-size: 1.5em;
    color: $lightGray;
  }
  h1 {
    visibility: hidden;
  }
}

a {
  background-color: $lightGray;
  color: rgba(0,0,0,0.6);
  text-shadow: none;
  margin-bottom: 15px;
  padding: 15px;
  text-decoration: none;
    &:hover {
    background: black;
    color: white;
    text-shadow: none
    }
}

#save-button {
  border: none;
  background-color: $lightGray;
  color: rgba(0,0,0,0.6);
  text-shadow: none;
  text-decoration: none;
  font-family: $defaultFont;
  margin-bottom: 32px;
  padding: 18px;
  font-size: 1em;
  &:hover {
    background-color: black;
    color: white;
  }
}

.form-button-div {
  height: 48px;
}
  .form-back-button, #stealth-button {
    border: none;
    background-color: $lightGray;
    color: rgba(0,0,0,0.6);
    text-shadow: none;
    text-decoration: none;
    font-family: $defaultFont;
    margin-bottom: 32px;
    padding: 18px;
    font-size: 1em;
    &:hover {
      background-color: black;
      color: white;
  }
  }
    #show-stealth-button {
      border: none;
      background-color: $lightGray;
      color: rgba(0,0,0,0.6);
      text-shadow: none;
      margin-bottom: 15px;
      text-decoration: none;
      font-family: $defaultFont;
      padding: 18px;
      font-size: 1em;
      &:hover {
        background-color: black;
        color: white;
    }
  }

  .button-hide {
    color: $lightGray;
  }


td {
  padding: 20px;
}

p, h1, h2, h3, h4, td, th, a, textarea {
font-family: $defaultFont;
}

.navbar {
  .navbar-inner {
    li {
      display: inline-block;
    }
    ul {
      padding-left: 0;
    }
    min-height: 59px;
    background-color: black;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    a {
      background-color: black;
      color: white;
      padding: 0;
      font-size: 1.3em;
      margin-left: 20px;
      margin-top: 3px;
      &:hover {
        background-color: black;
        color: $mediumGray;
      }
    }
  }
}

.home-header {
  margin-top: 65px;
}
.home-dashboard {
  margin-top: 48px;
}
.home-signup-btn {

}
.home-new-link {

}
.home-index-link {

}
.index-table-head {
  margin-top: 65px;
}
// #index-table-body {
//   margin-top: 30px;
// }
.page-container {
  padding: 47px, 15px;
  margin-top: 65px;
}
.show-buttons {
  padding-top: 20px;
}
.page-container-index {
  padding-top: 16px;
}
.outlines-form {
  color: default;
}
.outline-log-discreet {
  color: $lightGray;
}

#signin-page {
  margin-top: 59px;
  font-family: $defaultFont;
  .form-group {
    margin-top: 30px;
    height: 30px;
    width: 50px;
  }
  input {
    margin-top: 5px;
  }
  .signin-button {
  @extend #stealth-button;
  }
  .signup-row {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

#title-input {
  font-size: 32px;
  font-family: $defaultFont;
  height: 30px;
  width: 871px;
  border: none;
}



