.navbar
  .navbar-inner
    %ul
      =link_to 'Home', root_path, id: "logo", class: 'home'
      - if signed_in?
        %li=link_to "Sign out", signout_path, method: "delete", class: 'sign-out'
      - else
        %li=link_to "Sign in", signin_path, class: 'sign-in'